@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Html.Raw(Model.GetContent(1,1).Title)</h1>
    @Html.Raw(Model.GetContent(1, 1).Html)
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.Raw(Model.GetContent(2, 1).Title)</h2>
        @Html.Raw(Model.GetContent(2, 1).Html)
    </div>
    <div class="col-md-4">
        <h2>@Html.Raw(Model.GetContent(3, 1).Title)</h2>
        @Html.Raw(Model.GetContent(3, 1).Html)
    </div>
    <div class="col-md-4">
        <h2>@Html.Raw(Model.GetContent(4, 1).Title)</h2>
        @Html.Raw(Model.GetContent(4, 1).Html)
    </div>
</div>